# Ignore all folders named "node_modules" at any level
node_modules/

# Ignore a specific folder 
/allure-report/
/allure-results/


# Ignore a specific nested folder path
# /src/temp/

# Ignore a specific file
.vscode/launch.json
